# Default ignored files
/shelf/
/workspace.xml
# IntelliJ IDEA
.idea/
# Visual Studio Code
.vscode/
# Ignore Python bytecode files
__pycache__/

# Ignore specific bytecode files (*.pyc or *.pyo)
*.pyc
*.pyo
