# Default ignored files
/shelf/
/workspace.xml
# IntelliJ IDEA
.idea/
# Visual Studio Code
.vscode/
# Ignore Python bytecode files
__pycache__/
# Ignore specific bytecode files (*.pyc or *.pyo)
*.pyc
*.pyo
# Ignore user_data files including .json
/user_data/
user_data.json
user_data/user_data.json
